* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    line-height: 29px;
}

body * {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(./assets/bg/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}

main {
    display: grid;
    max-width: 500px;
    width: 90%;
    margin: auto;
}

section {
    margin-top: 10px;
}

section ul li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px;
    justify-content: center;
    gap: 10px;
    background: #F5F1F1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-decoration: none;
}

span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2E2828;
}