* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
    line-height: 29px;
}

body {
    background-image: url(./assets/bg/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}

header {
    text-align: center;
    padding-top: 30px;
}

header div {
    margin: auto;
}

.profile-bg img {
    display: inline;
    max-width: 500px;
    width: 90%;
}

.profile-image img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    border-radius: 50%;
    width: 110px;
    border: 4px solid #FAFAFA;
}

.profile-info h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #2E2828;
    padding-top: 30px;
}

.profile-info p {
    font-weight: 400;
    font-size: 18x;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #4E4747;
    padding-top: 6px;
}

main {
    display: grid;
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding-top: 36px;
}

section {
    margin-top: 10px;
}

section ul li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    gap: 10px;
    background: #F5F1F1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-decoration: none;
}

span {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2E2828;
}